.container {
  margin: 20px;
  border: solid var(--dark-gray) 2px;
  border-radius: 35px;
  width: 350px;
}

.img {
  width: 350px;
}

.content > p,
.content > div {
  margin-bottom: 0;
}

.container:hover {
  cursor: pointer;
}

.container:hover .content p,
.container:hover .content button,
.container:hover .content .badge {
  display: flex;
}

.img {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  position: relative;
}

.container:hover .img {
  filter: blur(4px);
  opacity: 0.2;
  cursor: pointer;
}

.content {
  position: absolute;
  padding: 20px;
  height: 250px;
  width: 350px;
}

.content p:nth-child(3) {
  margin: 10px 0;
}

.content p,
.content button,
.content .badge {
  display: none;
}

.portfolio__item {
  background: var(--background-color-second);
  padding: 0px 20px 20px 20px;
  padding-top: 30px;
  width: fit-content;
  border-radius: 10px;
}

.portfolio__item h6 {
  color: var(--primary-color);
  background: transparent;
  font-size: 18px;
}

.portfolio__img {
  margin-top: 30px;
  background: transparent;
  width: fit-content;
  border: solid var(--primary-color) 3px;
  border-radius: 12px;
  padding: 7px 7px 0 7px !important;
}

.portfolio__img:hover {
  cursor: pointer;
}

.portfolio__img span {
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__img > span > img {
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__img > img {
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__img img {
  border-radius: 10px;
  object-fit: cover;
}

.portfolio__img:hover p {
  display: flex;
  position: relative;
  top: 60px;
  left: 20px;
  z-index: 5;
  color: black;
}

.portfolio__keyword {
  padding: 5px 10px;
  color: var(--primary-font-color);
  background: var(--four-color);
  font-size: 0.7rem;
  margin-right: 10px;
  border-radius: 5px;
}

.portfolio__item .portfolio__live {
  position: relative;
  left: 1rem;
  top: -4rem;
  margin-left: 0;
  display: block;
}

.badge {
  margin-top: 10px;
  width: fit-content;
}

.details_button {
  border-radius: 15px;
  border-color: var(--dark-gray);
  color: var(--primary-font-color);
  padding: 5px 15px;
  background: var(--primary-color);
}

.details_button:hover a {
  color: var(--primary-font-color);
}

@media only screen and (max-width: 576px) {
  .portfolio__img img {
    width: 100% !important;
  }
}

@media only screen and (max-width: 992px) {
  .container .img {
    filter: blur(4px);
    opacity: 0.3;
  }

  .content p,
  .content button,
  .content .badge {
    display: flex;
  }
}
