.row {
  /* border: solid red 3px; */
  justify-content: center;
}

.rowItems {
  /* border: solid orange 3px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 1000px; */
}

.col {
  /* border: solid blue 3px; */
  max-width: 400px;
}

.item {
  /* border: solid violet 3px; */
  display: flex;
  max-width: 400px;
}

.tab__btn__active {
  color: var(--primary-color) !important;
  font-size: 1rem;
}

.tab__btns {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .tab__btns {
    text-align: left !important;
    margin-top: -20px !important;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .marginMobile {
    padding-left: 15px;
    padding-left: 15px;
  }
}
