@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #00a38e;
  --secondary-color: #ffffff;
  --four-color: #ffffff;
  --primary-color-lighter: #e7e2d5;
  --background-color: linear-gradient(90deg, #141414 0%, #171b32 100%);
  --primary-font-color: #dddddd;
  --secondary-font-color: #d3d3d3;
  --black-white-toggle: #ffffff; /* this changes depending of the dark or light mode */
  --primary-color-opacity: rgb(0, 163, 142, 0.25);

  /* text gradient */
  --primary-color-darker: #008472;
  --primary-gradient-lighter: #ffffff;

  /* portofolio item color rectangle */
  --background-color-second: rgb(30, 30, 50);

  .primary-gradient {
    background: linear-gradient(
      to right,
      var(--primary-color-darker) 0%,
      var(--primary-gradient-lighter) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

html {
  background-color: #161929;
}

body {
  padding: 0;
  margin: 0;
  font-family: Onest, sans-serif !important;
  background-color: var(--background-color);
}

div,
section,
form,
p,
b,
h1,
h2,
h3,
h4,
h5,
span,
a,
ul,
li,
em,
img,
i,
svg {
  background: rgba(255, 255, 255, 0);
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: var(--background-color);
  transition: background-color 1s ease;
}

p {
  color: var(--secondary-font-color);
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-font-color);
}

h2 {
  font-size: 2.5rem !important;
}

ul {
  padding-left: 1rem;
}

ul li {
  color: var(--secondary-font-color);
}

section {
  padding-top: 90px;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
}

.primary__btn {
  background: var(--secondary-color) !important;
  padding: 7px 25px !important;
  border: 3px solid var(--primary-color) !important;
  border-radius: 10px;
  box-shadow: 0 5px 10px var(--shadow);
  font-size: 18px;
  font-weight: 500 !important;
}

.primary__btn a {
  text-decoration: none;
  color: var(--primary-color);
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
  color: var(--primary-font-color);
}

.secondary__btn a {
  color: var(--primary-color) !important;
}
.primary__btn a:hover,
.secondary__btn a:hover {
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--secondary-font-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 60px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}

.light-mode {
  --primary-color: #9a894f;
  --secondary-color: #ffffff;
  --four-color: #c3cad868;
  --background-color: #ffffff;
  --primary-font-color: #5d5d5d;
  --secondary-font-color: #616161;
  --black: #000000;
  --white: #ffffff;
  --shadow: #00000033;
  --black-white-toggle: #000000; /* this changes depending of the dark or light mode */
  --primary-color-opacity: rgb(0, 0, 0, 0.3); /* transparent shadow */

  /* portofolio item color rectangle */
  --background-color-second: #ffffff;

  /* text gradient */
  --primary-color-darker: #907b33;
  --primary-gradient-lighter: #f0e10e;
}
