@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #9a894f;
  --secondary-color: #ffffff;
  --four-color: #c3cad868;
  --primary-color-lighter: #e7e2d5;
  --background-color: #ffffff;
  --primary-font-color: #5d5d5d;
  --secondary-font-color: #8d8d8d;
  --black: #000000;
  --white: #ffffff;
  --shadow: #00000033;

  --primary-color-opacity: rgb(0, 0, 0, 0.3);

  /* text gradient */
  --primary-color-darker: #907b33;
  --primary-gradient-lighter: #f0e10e;

  .primary-gradient-color {
    border-color: linear-gradient(
      to right,
      var(--primary-color-darker) 0%,
      var(--primary-gradient-lighter) 100%
    );
  }
  .primary-gradient {
    background: #00a38e;
    background: linear-gradient(
      to right,
      var(--primary-color-darker) 0%,
      var(--primary-gradient-lighter) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

html {
  padding: 0px !important;
  margin: 0px !important;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Onest", sans-serif;
  background-color: var(--background-color);
}

div,
section,
form,
p,
b,
h1,
h2,
h3,
h4,
h5,
span,
a,
ul,
li,
em,
img,
i,
svg {
  background: rgba(255, 255, 255, 0);
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: var(--background-color);
  transition: background-color 1s ease;
}

p {
  color: var(--secondary-font-color);
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-font-color);
}

h2 {
  font-size: 2.5rem !important;
}

ul {
  padding-left: 1rem;
}

ul li {
  color: var(--secondary-font-color);
}

section {
  padding-top: 150px;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
}

.primary__btn {
  background: var(--secondary-color) !important;
  padding: 7px 25px !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px;
  box-shadow: 0 5px 10px var(--shadow);
}

.primary__btn a {
  text-decoration: none;
  color: var(--primary-color);
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
  color: var(--primary-font-color);
}

.secondary__btn a {
  color: var(--primary-color) !important;
}
.primary__btn a:hover,
.secondary__btn a:hover {
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--secondary-font-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}

.dark-mode {
  --primary-color: #00a38e;
  --secondary-color: #e7e2d5;
  --four-color: #e7e2d5;
  --background-color: linear-gradient(
    90deg,
    rgb(28, 28, 28) 0%,
    rgb(37, 33, 74) 100%
  );
  --primary-font-color: #dddddd;
  --secondary-font-color: #bcbcbc;

  --primary-color-opacity: rgb(0, 163, 142, 0.25);

  /* text gradient */
  --primary-color-darker: #008472;
  --primary-gradient-lighter: #ffffff;
  .primary-gradient {
    background: #00a38e;
    background: linear-gradient(
      to right,
      var(--primary-color-darker) 0%,
      var(--primary-gradient-lighter) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  --background-color-second: #31304d;
}
