.tab__btn__active {
  color: var(--primary-color) !important;
  font-size: 1rem;
}

.tab__btns {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .tab__btns {
    text-align: left !important;
    margin-top: -20px !important;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .marginMobile {
    padding-left: 15px;
    padding-left: 15px;
  }
}