.about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__subtitle {
  align-self: flex-start;
}

.about__content h3 {
  align-self: flex-start;
}

.about__icon i {
  color: var(--primary-color);
  font-size: 30px;
}

.tecnologies_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: auto;
  padding-top: 75px;
}
.tecnologies_container p {
  display: flex;
  justify-content: center;
  color: var(--primary-font-color);
  font-size: 1.1rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

.skill_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin-bottom: 1rem;
}

.skills_badge {
  margin-top: 1rem;
  margin-right: 0;
  font-size: 1rem;
}

@media only screen and (min-width: 1400px) {
  .skill_container {
    margin-right: 3rem;
    margin-bottom: 2rem;
  }
  .skill_container:first-child {
    margin-left: 3rem;
  }
  .skill_container:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 401px) and (max-width: 1200px) {
  .about__content {
    width: 100%;
    align-items: center;
  }

  .tecnologies_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .skill_container {
      margin-right: 4.5rem;
      margin-bottom: 2rem;
    }
    .skill_container:first-child {
      margin-left: 4.5rem;
    }
    .skill_container:last-child {
      margin-right: 0;
    }
  }

  .skill_container {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
  .about__content {
    align-items: center;
  }

  .about__row {
    justify-content: center;
  }

  .about__content h3 {
    font-size: 1.3rem;
  }

  .skill_container {
    margin-right: 0;
  }
}

@media only screen and (max-width: 575px) {
  .marginMobile {
    padding-left: 15px;
    padding-right: 25px;
  }
}