.form__group input,
.form__group textarea {
  width: 100%;
  border: solid 1.5px var(--primary-color);
  outline: none;
  background: var(--background-color);
  color: var(--secondary-font-color);
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  font-size: 0.8rem;
  color: var(--secondary-font-color);
}

.form button {
  color: var(--primary-color);
}

.spinner {
  position: relative;
  top: 40%;
  left: 40%;
  z-index: 5;
  border: 10px solid rgba(0, 0, 0, 0.1);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border-left-color: var(--primary-color);
  animation: spin 1s ease infinite;
}

/* success modal */

.button {
  background-color: var(--primary-color);
}

.innerText {
  color: var(--primary-color-lighter);
}

/* success modal */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
