.form__group input,
.form__group textarea {
  width: 100%;
  border: solid 2px var(--primary-color);
  outline: none;
  background: var(--background-color);
  color: var(--primary-font-color);
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  font-size: 0.8rem;
  color: var(--secondary-font-color);
}

.form button {
  color: var(--primary-color);
}
