@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #9a894f;
  --secondary-color: #ffffff;
  --four-color: #c3cad868;
  --primary-color-lighter: #e7e2d5;
  --background-color: #ffffff;
  --primary-font-color: #5d5d5d;
  --secondary-font-color: #a5a5a5;
  --black: #000000;
  --white: #ffffff;
  --shadow: rgb(225, 225, 225);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: var(--background-color);
}

p {
  color: var(--secondary-font-color);
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-font-color);
}

h2 {
  font-size: 2.5rem !important;
}

ul {
  padding-left: 1rem;
}

ul li {
  color: var(--secondary-font-color);
}

section {
  padding-top: 150px;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
}

.primary__btn {
  background: var(--secondary-color) !important;
  padding: 7px 25px !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 var(--shadow),0 5px 10px 0 var(--shadow);
}

.primary__btn a {
  text-decoration: none;
  color: var(--primary-color);
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
  color: var(--primary-font-color);
}

.secondary__btn a {
  color: var(--primary-color) !important;
}
.primary__btn a:hover,
.secondary__btn a:hover {
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--secondary-font-color);;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}
