.portfolio__item {
  background: var(--background-color);
  padding: 0px 20px 20px 20px;
  padding-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.portfolio__item h6 {
  color: var(--primary-color);
  margin-bottom: 20px;
  background: transparent;
}

.portfolio__img {
  margin-top: 30px;
  background: transparent;
  border: solid var(--primary-color-lighter);
  border-radius: 12px;
  padding: 7px 7px 0 7px !important;
}

.portfolio__img span {
  /* border: solid red !important; */
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__img > span > img {
  /* border: solid orange !important; */
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__img > img {
  /* border: solid orange !important; */
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__img img {
  border-radius: 10px;
  object-fit: cover;
}

.portfolio__keyword {
  padding: 5px 10px;
  color: var(--primary-font-color);
  background: var(--four-color);
  font-size: 0.7rem;
  margin-right: 10px;
  border-radius: 5px;
}

.portfolio__live {
}

.portfolio__item .portfolio__live {
  position: relative;
  left: 1rem;
  top: -4rem;
  margin-left: 0;
  display: block;
}

@media only screen and (max-width: 576px) {
  .portfolio__img img {
    width: 100% !important;
  }
}
